{% extends "layout.html" %}
{% block title %}
    éducation Resume
{% endblock %}
      {% block main %}

<ul style="color: white; margin-left: 30%; margin-right: 30%; margin-top: 5%;">
  <h3>Academic education</h3>
  <li>baccalaureate in technical math (2012) : honors</li>
  <li>Bachelor's degree Civil engineering (2017) : at the university of sciences end technology Houari Boumedienne</li>
  <li>Master's degree  (Civil engineering) 2021: at the university of sciences end technology Houari Boumedienne</li>
  <li>Training (2021) ; AUTOCAD COVADIS (midad school bab ezzouare) ,AUTOCAD,ROBOT ,and office tools</li>
  <li>Intership (2021) :  study of a motorway link supervised by the Algerian Society for the Study of Infrastructures (SAETI).</li>
  <li>Intership (15 days)  (2017)  : Realization of bridges, cosider-OA EL-AGHOUAT</li>
  <li>Trainig English (2021) : attested by mided school  (bab ezzouare).</li>
  <li>office toolsTrainig : word, excel & power point, at cultural Center  ALI MAACHI bordj el bahri.</li>
  
</ul>


      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-left: 20%; margin-right: 20%; margin-top: 5%; margin-bottom: 5%;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/master.jpg" class="d-block w-100" alt="...">
          </div>
        
          <div class="carousel-item">
            <img src="static/license.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      {% endblock %}