{% extends "layout.html" %}
{% block title %}
    work experience
{% endblock %}
      {% block main %}
    <ul style="color: white; margin-top: 5%;">
        <h3>Work experience</h3>
        <li>3(y) Civil Engineer 2019/until-now   (BET KAFI): main mission and tasks: Site supervision of Primary and Secondary public works, revision of development plans, tests performance of piles (sonic auscultaion), execution of specifications, elaboration of progress report situations of  projectc, within a technical study office (bet) .</li>
        <li>1 (year) Substitute teacher (2021-2022)  : within the Houari Boumedienne University of Science and Technology.</li>
        <li>1(Month)  Quantity surveyor 2022 : at OXXO-baie (cevital group) manufacture and assembly of window and doors , main mission: development of sheet before measurement, validation of measurement, and make site visits for the purpose of advising customers</li>
        <li>1 (year) FRANCOPHONE TELEOPERATOR (2015/16); within the offshore establishment INTERPHONE (DAR EL BEIDA). Mission collection of donations for humanitarian associations (UNICEF, VVF, CARE, and other charities.</li>

    </ul>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-left: 20%; margin-right: 20%; margin-top: 5%; margin-bottom: 5%;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/certificat.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="static/vacation.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      {% endblock %}
