{% extends "layout.html" %}
{% block title %}
    more about !
{% endblock %}
{% block main %}

<div style="text-align: center; margin-top: 5%;" >
<figure class="figure" >
 

<table class="table table-dark table-hover" >
      <tbody >
            <tr>
                <td colspan="2" class="table-active">Arabic</td><td  class="table-active">☆☆☆☆☆</td>
            </tr>
            <tr>
                <td colspan="2" class="table-active">English</td><td  class="table-active">☆☆☆☆☆</td>
            </tr>
            <tr>
            <td colspan="2" class="table-active">FRench</td><td  class="table-active">☆☆☆☆☆</td>
            </tr>
      </tbody>
    </table>
  </table>
  <figcaption class="figure-caption text-end">Languages and ratings</figcaption>
</figure>
</div>
<h2 style="margin-left: 20%; margin-right: 20%; color: white;">You are welcome to leave a message Via E-mail or contate Me on phone I will be glad To colaborate !</h2>
<br><br><div class="dropdown" style="text-align: center;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Contact
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2" >
    <li><p><a href="tel:+213780416469" style="color: white;">phone : +2137804164691</a></p></li>
    <li><a href = "mailto:lotfi.kafi@hotmail.com" style="color: white;">Send Email : lotfi.kafi@hotmail.com</a></li>
    <li></li>
  </ul>
</div><br><br>
<h3  style="text-align: center; color: white;">Adress </h3>
<div id="map" style="padding: 5%;"></div><br>
<script>
  function initMap() {
  // The location of Uluru
  let Beb = { lat: 36.791357, lng: 3.240634 };
  // The map, centered at Uluru
  let map = new google.maps.Map(document.getElementById("map"), {
    zoom: 13,
    center: Beb,
  });
  // The marker, positioned at Uluru
  let marker = new google.maps.Marker({
    position: Beb,
    map: map,
  });
}

window.initMap = initMap;

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBknI7wDkERiIMb5_c8hl5rhWYpoDCGmY&callback=initMap"></script>
{% endblock %}